body {
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    font-family: $font-family-barlow;
    line-height: 1.5;
    font-size: $default-font-size;
}