.gallery {
    @include flex-row-centered;

    @include respond(phone) {
        flex-wrap: wrap;
    }

    img {
        width: calc(100% / 4);
        object-fit: cover;

        @include respond(phone) {
            width: calc(100% / 2);
        }
    }
}